# Machine Learning Dependencies
tensorflow==2.11.0       # For building and running the vehicle recognition model
opencv-python==4.6.0.66  # For image processing
numpy==1.23.4            # For numerical computations and arrays
pillow==8.3.2            # For image handling (if using PIL)
scikit-learn==1.1.1      # For machine learning algorithms (if needed)
pandas==1.5.3            # For data manipulation (if using any tabular data)
matplotlib==3.7.1        # For visualizing model results (optional)
Flask==2.2.2             # For serving the model if using Flask (optional)

